@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "تکمیل ثبت‌نام";
}

<h1>@ViewData["Title"]</h1>
<h4>تکمیل ورود با حساب کاربری @Model.LoginProvider </h4>
<hr />

<p class="text-info">
    شما با موفقیت حساب کاربری <strong>@Model.LoginProvider</strong> خود را به رستم بات متصل کردید.
    <br />
    لطفاً ایمیل خود را وارد کنید تا ثبت‌نام کامل شود. ما هم مثل شما از اسپم بیزاریم، اسپم نمی‌فرستیم، قول :)
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">تکمیل ثبت‌نام</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
